ul  
{
list-style-type:none;
display:block;
padding:0px;
margin:0px;
overflow: hidden;



}
ul li 
{
	
	line-height: 30px;
    float:left;
	width:215;	
	display:block;
	background:navy;
}


a
{
text-decoration:none;
padding:12px;
display:block;
color:white;


}

.li1
{
	background:black;

	
}

li.li1
{
	
	display:none;
}
ul li:hover .li1
{
	display:block;

}
ul li.li1 a:hover
{
background:teal;
color:white;	
}